<div class="modal-body">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h2 class="text-center">Richard Searcy Studios</h2>
    <hr class="cloud-color">
    
    <div class="thumbnail">
        <img src="images/RichardSearcyStudios_Lg.png" class="img-responsive img-centered" alt="">
    </div>

    <p>
        The latest incarnation of Richard Searcy Studios is single page
        application based on AngularJS and Bootstrap. 
    </p>

    <button type="button" class="btn btn-default" ng-click="close()">
        <i class="fa fa-times"></i> Close
    </button>
</div>