<div class="modal-body">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h2 class="text-center">Airport Animal Emergi-Center</h2>
    <hr class="cloud-color">
    
    <div class="thumbnail">
        <img src="images/AirportAnimalEmergi-Center_Lg.png" class="img-responsive img-centered" alt="">
    </div>

    <p>
        The Airport Animal Emergi-Center website is a total redesign of a 
        previous site. It is a custom WordPress template featuring Google Maps
        integration along with several custom post types.
    </p>

    <button type="button" class="btn btn-default" ng-click="close()">
        <i class="fa fa-times"></i> Close
    </button>
</div>