<div class="modal-body">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h2 class="text-center">Animapedia</h2>
    <hr class="cloud-color">
    
    <div class="thumbnail">
        <img src="images/Animapedia_Lg.png" class="img-responsive img-centered" alt="">
    </div>

    <p>
        The Animapedia site started as an assignment for a Coursera
        class. The frontend is based on Meteor and Bootstrap. It features a
        MongoDB backend for the animals and blog articles.
    </p>

    <button type="button" class="btn btn-default" ng-click="close()">
        <i class="fa fa-times"></i> Close
    </button>
</div>