<div class="modal-body">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h2 class="text-center">Ristorante con Fusion</h2>
    <hr class="cloud-color">
    
    <div class="thumbnail">
        <img src="images/RistoranteConFusion_Lg.png" class="img-responsive img-centered" alt="">
    </div>

    <p>
        Ristorante con Fusion is a fictional restaurant website from a Coursera
        class on full stack web development. It features an AngularJS and
        Bootstrap frontend along with a MongoDB backend.
    </p>

    <button type="button" class="btn btn-default" ng-click="close()">
        <i class="fa fa-times"></i> Close
    </button>
</div>