<div class="modal-body">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h2 class="text-center">Tangles Hair Studio</h2>
    <hr class="cloud-color">
    
    <div class="thumbnail">
        <img src="images/Tangles_Lg.png" class="img-responsive img-centered" alt="">
    </div>

    <p>
        This website was the debut of Tangles Hair Salon on the Internet.
        Originally a standard HTML site, it has been updated as a custom
        WordPress template. It features custom JavaScript Google Maps integration
        and a PHP contact form.
    </p>

    <button type="button" class="btn btn-default" ng-click="close()">
        <i class="fa fa-times"></i> Close
    </button>
</div>