<div class="modal-body">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h2 class="text-center">Footsteps Montessori Preschool</h2>
    <hr class="cloud-color">
    
    <div class="thumbnail">
        <img src="images/Footsteps_Lg.png" class="img-responsive img-centered" alt="">
    </div>

    <p>
        The Footsteps Montessori Preschool website was redesigned from 
        the ground up from their previous template website. It features a
        WordPress blog and a PHP contact form.
    </p>

    <button type="button" class="btn btn-default" ng-click="close()">
        <i class="fa fa-times"></i> Close
    </button>
</div>

