<header style="padding: 100px 0 50px 0;">
    <h1><strong>About Me</strong></h1>
    <hr class="cloud">
</header>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                    Lorem ipsum dolor sit amet, timeam aperiam scribentur et has. Ut quo mutat eleifend. 
                    Doming explicari maiestatis usu cu, et eum nobis nullam explicari. Eos ceteros scribentur 
                    dissentiet ei, amet forensibus his ut, vim cu animal comprehensam. Vocent admodum qui eu, 
                    odio cetero interesset duo id, officiis adipiscing voluptatum has no.
                </p>
            </div>

            <div class="col-lg-4">
                <p>
                    Lorem ipsum dolor sit amet, timeam aperiam scribentur et has. Ut quo mutat eleifend. 
                    Doming explicari maiestatis usu cu, et eum nobis nullam explicari. Eos ceteros scribentur 
                    dissentiet ei, amet forensibus his ut, vim cu animal comprehensam. Vocent admodum qui eu, 
                    odio cetero interesset duo id, officiis adipiscing voluptatum has no.
                </p>
            </div>
        </div><!-- /.row -->
    </div>
</section>