<!-- Footer -->
<footer class="text-center">
    <div class="footer-upper">
        <div class="container">
            <div class="row">
                <!--Latest Project-->
                <div class="col-md-4">
                    <h3>My Latest Project</h3>

                    <p>
                        Airport Animal Emergi-Center
                        <br />
                        Launched October 2014
                        <br /><br />
                        <a href="http://www.aaecindy.com" target="_blank">
                            Visit Airport Animal Emergi-Center &gt;&gt;
                        </a>
                    </p>
                </div>
                <!--Social Media Links-->
                <div class="col-md-4 text-center">
                    <h3>Follow Me</h3>
                    
                    <div class="social">
                        <ul>
                            <li><a href="https://www.facebook.com/richardsearcystudios/"><i class="fa fa-lg fa-facebook"></i></a></li>
                            <li><a href="https://plus.google.com/115373228058949979977"><i class="fa fa-lg fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/richardsearcy"><i class="fa fa-lg fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/richard_searcy"><i class="fa fa-lg fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--Contact Information-->
                <div class="col-md-4">
                    <h3>Contact Me</h3>

                    <p>
                        (317) 529-0390
                        <br />
                        Hours: 8am - 5pm Mon-Fri EST
                        <br /><br />
                        <a ui-sref="app.contact">Send me a message &gt;&gt;</a>
                    </p>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-upper -->
    <div class="footer-lower">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"> Copyright &copy; 2016 Richard Searcy Studios</div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-lower -->
</footer>