<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" alt="logo" src="images/dk_blue_yellow_logo.png">

                <div class="intro-text">
                    <span class="name">Richard Searcy Studios</span>

                    <hr class="cloud">

                    <span class="skills">Web Designer &#9899; Web Developer &#9899; Webmaster</span>
                    <br /><br />
                    <a ui-sref="app.contact" class="btn btn-success btn-md">
                        <i class="fa fa-envelope"></i> Contact me</a>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</header>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3><span style="color: #4d4a76;">Welcome to my website.</span> Let me create one for you.</h3>

                <hr class="cloud-color">
            </div>
        </div><!-- /.row -->

        <div class="row text-center">
            <div class="col-sm-6">
                <p style="font-style: italic; font-weight: bold; text-align: center;">
                    Does your business really need a website?
                </p>

                <p style="text-align: left;">
                    A web site is a cost effective way for your customers to access 
                    your business 24 hours a day. Your information is always available 
                    and can be instantly updated. Frequently asked questions can be 
                    answered on your site allowing you more time to run your business. 
                    A fully functional e-commerce site can generate revenue for your 
                    business while you sleep. 
                </p>
            </div>
            <div class="col-sm-6">
                <p style="font-style: italic; font-weight: bold; text-align: center;">
                    Let me create your business web presence. 
                </p>

                <p style="text-align: left;">
                    Using the latest technologies
                    and standards, I can construct a website that will suit your business
                    needs, whether your site is a simple online brochure or a completely 
                    interactive user experience. After your web site is created, I can 
                    provide a registered domain name, a hosting server, and search engine 
                    optimization to get it up and running. I also offer maintenance to keep 
                    your site up to date with your business. 
                </p>
            </div>
        </div>
    </div>
</section>