<header style="padding: 100px 0 50px 0;">
    <h1><strong>My Portfolio</strong></h1>
    <hr class="cloud">
</header>

<section id="content">
    <div class="container" ng-controller="PortfolioController">
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <div class="thumbnail">
                    <a class="portfolio-link" href="#/portfolio" ng-click="open('modal-1')">
                        <img class="img-responsive" src="images/Footsteps_Thumb.png" alt="">
                    </a>
                    <div class="caption">
                        <h4><strong>Footsteps Montessori</strong></h4>
                      
                        <p>
                            <a href="#/portfolio" ng-click="open('modal-1')" class="btn btn-primary" role="button">More...</a> 
                            <a href="http://footsteps.us.com" target="_blank" class="btn btn-default" role="button">Visit the site</a>
                        </p>
                    </div>     
                </div>
            </div>

            <div class="col-sm-4 portfolio-item">
                <div class="thumbnail">
                    <a class="portfolio-link" href="#/portfolio" ng-click="open('modal-2')">
                        <img class="img-responsive" src="images/Tangles_Thumb.png" alt="">
                    </a>
                    <div class="caption">
                        <h4><strong>Tangles Hair Salon</strong></h4>
                        
                        <p>
                            <a href="#/portfolio" ng-click="open('modal-2')" class="btn btn-primary" role="button">More...</a> 
                            <a href="http://www.tanglesmuncie.com" target="_blank" class="btn btn-default" role="button">Visit the site</a>
                        </p>
                    </div>     
                </div>
            </div>

            <div class="col-sm-4 portfolio-item">
                <div class="thumbnail">
                    <a class="portfolio-link" href="#/portfolio" ng-click="open('modal-3')">
                        <img class="img-responsive" src="images/AirportAnimalEmergi-Center_Thumb.png" alt="">
                    </a>
                    <div class="caption">
                        <h4><strong>Airport Animal Emergi-Center</strong></h4>
                        
                        <p>
                            <a href="#/portfolio" ng-click="open('modal-3')" class="btn btn-primary" role="button">More...</a> 
                            <a href="http://www.aaecindy.com" target="_blank" class="btn btn-default" role="button">Visit the site</a>
                        </p>
                    </div>     
                </div>
            </div>
        </div><!-- /.row -->
        
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <div class="thumbnail">
                    <a class="portfolio-link" href="#/portfolio" ng-click="open('modal-4')">
                        <img class="img-responsive" src="images/RistoranteConFusion_Thumb.png" alt="">
                    </a>
                    <div class="caption">
                        <h4><strong>Ristorante con Fusion</strong></h4>
                        
                        <p>
                            <a href="#/portfolio" ng-click="open('modal-4')" class="btn btn-primary" role="button">More...</a> 
                            <a href="http://richardsearcy.com/confusion" target="_blank" class="btn btn-default" role="button">Visit the site</a>
                        </p>
                    </div>     
                </div>
            </div>

            <div class="col-sm-4 portfolio-item">
                <div class="thumbnail">
                    <a class="portfolio-link" href="#/portfolio" ng-click="open('modal-5')">
                        <img class="img-responsive" src="images/Animapedia_Thumb.png" alt="">
                    </a>
                    <div class="caption">
                        <h4><strong>Animapedia</strong></h4>
                        
                        <p>
                            <a href="#/portfolio" ng-click="open('modal-5')" class="btn btn-primary" role="button">More...</a> 
                            <a href="http://richardsearcy.com/animapedia" target="_blank" class="btn btn-default" role="button">Visit the site</a>
                        </p>
                    </div>     
                </div>
            </div>

            <div class="col-sm-4 portfolio-item">
                <div class="thumbnail">
                    <a class="portfolio-link" href="#/portfolio" ng-click="open('modal-6')">
                        <img class="img-responsive" src="images/RichardSearcyStudios_Thumb.png" alt="">
                    </a>
                    <div class="caption">
                        <h4><strong>Richard Searcy Studios</strong></h4>
                        
                        <p>
                            <a href="#/portfolio" ng-click="open('modal-6')" class="btn btn-primary" role="button">More...</a> 
                            <a href="http://www.richardsearcy.com" class="btn btn-default" role="button">Visit the site</a>
                        </p>
                    </div>     
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>